.description {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 22px);
  transform: translateY(-50%);

  &__wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-card);
    border-radius: 5px;
    row-gap: 1rem;
    padding: 1rem;
  }

  &__title {
    text-align: center;
  }

  &__inner {
    display: flex;
  }

  &__images {
    flex: 1 1 auto;
  }

  &__images-item {
    border: 1px solid var(--border-card);
    border-radius: 5px;
    position: relative;
    padding-top: 50%;
    cursor: pointer;  

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__item-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__box-img {
    flex: 1 1 auto;
    position: relative;
    padding-left: 40%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__list {
    text-align: center;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid var(--border-card);
    border-radius: 5px;
  }

  &__list-item {
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-card);
    }
  }
}

.availability {
  &__name {
    &[true] {
      color: var(--green-100);
    }

    &[false] {
      color: red;
    }
  }
}

.btn-des {
  display: flex;
  column-gap: 1rem;

  [false] {
    background-color: red;
    pointer-events: none;
  }

  &__item {
    flex: 1 1 auto;
  }

  &__button {
    border: 1px solid transparent;
    padding: 2rem;
    background-color: var(--green-100);
    width: 100%;
    transition: background-color 0.5s ease-in-out;

    &:hover {
      background-color: transparent;
      border: 1px solid var(--green-100);
    }
  }
}
