$mds1: 1200px;
$mds2: 992px;
$mds3: 768px;
$mds4: 576px;

$cont_width: 1230;

:root {
  --black: #000000;
  --white: #ffffff;
  --black-100: #31352b;
  --aqua: #00ffff;
  --red: rgb(255, 0, 0);
  --border-card: #11111133;
  --green-100: #63a60e;

  //header
  --green: #63a60f;
  --button-dark: #31352b;
  --button-dark-hover: #3c4136;
  --set-basket: #cf3e3b;
}
