$mds1: 1200px;
$mds2: 992px;
$mds3: 768px;
$mds4: 576px;

$cont_width: 1230;

:root {
  --black: #000000;
  --white: #ffffff;
  --black-100: #31352b;
  --aqua: #00ffff;
  --red: rgb(255, 0, 0);
  
  //header
  --green: #63A60F;
  --button-dark: #31352B;
  --button-dark-hover: #3c4136;
  --set-basket:  #CF3E3B;

}

